.navbar {
    a {
        margin-left: 100px;
    }
    &-nav {
        margin: 0 auto;
    }
    .search {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-right: 100px;
        input {
            width: 250px;
            margin: 0 .75rem;
        }
        .btn-danger {
            background-color: #e21f26;
            margin-left: 0;
        }
    }
    .nav-link {
        margin: 0 5px;
        padding: 0;
    }
}


.navbar-light {
	.navbar-nav {
		.nav-link.active {
			color: #e21f26;
		}
		.show {
			>.nav-link {
				color: #e21f26;
			}
		}
	}
}
