.lds-dual-ring {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: span 4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.lds-dual-ring:after {
content: " ";
display: block;
width: 164px;
height: 164px;
margin: 180% auto;
border-radius: 50%;
border: 6px solid #E21F26;
border-color: #E21F26 transparent #E21F26 transparent;
-webkit-animation: lds-dual-ring 1.2s linear infinite;
        animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}

@keyframes lds-dual-ring {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}