.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    p {
        margin:0;
    }
}
.btn-danger {
    background-color: #E21F26 !important;
}